.task-item-container {
  display: flex;
  justify-content: space-between;
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 90%;
  }

  .delete {
    padding-top: 1.5px;
    margin-left: 18px;

    &:hover {
      cursor: pointer;
    }
  }

  .checkbox-container {
    display: flex;
    position: relative;
    padding-left: 30px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 1.5px;
  }
  .checkbox-container-completed {
    @extend .checkbox-container;
    color: #9d9aad;
    text-decoration: line-through;
  }
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: linear-gradient(259.93deg, #000000 -41.58%, #00171f 146.85%);
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 5px;
  }

  .checkbox-container:hover input ~ .checkmark {
    background: linear-gradient(262.71deg, #00d1ff -30.04%, #00ffa3 124.74%);
  }

  .checkbox-container input:checked ~ .completed {
    background: #3a3847;
    border-color: #5a3874;
    border-radius: 5px;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
}
