.tasks-container {
  padding: 60px 85px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 100vh;

  h2 {
    margin-bottom: 24px;
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }

  .last-tasks {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    h3 {
      margin-bottom: 18px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: linear-gradient(262.71deg, #00d1ff -30.04%, #00ffa3 124.74%);
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    .tasks-list {
      overflow-y: scroll;
      margin-top: 28px;
    }
  }
  .completed-tasks {
    flex: 1;
    padding-top: 28px;

    .tasks-list {
      margin-top: 28px;
    }
  }
}
